html,
body {

  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1{
  padding: 20px 0 40px;
  text-align: center;
  font-size: 2.6rem;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.grid{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
 
}
.singlePokemon{
  background-color: #EEE;
   border-radius: 15px;
   padding: 20px;
   position: relative;
}
.singlePokemon img{
  max-height: 80px;
  max-width: 80px;
  position: absolute;
  top: -20px;
  right: -20px;
}
.singlePokemon h2{
  text-transform: uppercase;
}
.stats{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.loadingImg{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImg img{
  width: 40px;
  height: 40px;
}

